{
  "smtpHost": "smtp.hostinger.com",
  "smtpPort": "465",
  "smtpUser": "donation@itlcfoundation.com",
  "smtpPass": "",
  "smtpFrom": "\"ITLC Foundation\" <donation@itlcfoundation.com>",
  "razorpayKeyId": "",
  "razorpayKeySecret": "",
  "fast2smsApiKey": ""
}
